.fullpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.boxContainer{
  width: 462px;
  height: 603px;
  padding-top: 39px;
  padding-left: 59px;
  background-color: #FFFFFF;
}
.boxHead{
  width: 343px;
  height: 24px;
  position: relative;
  text-align: center;
}

.boxHead hr {
  border: none;
  border-top: 0.9px solid #C8C8C8;
  margin: 0 auto;
}

.line-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 10px; /* Optional padding for better visibility */
  color: #FF6B82;
  font-weight: 600;
}
.boxes{
  width: 341px;
  height: 363.11px;
  top: 82px;
}
.box {
  border: 0.9px solid #C8C8C8;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 74.11px;
  background-color: yellow;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
}
// .radio-container {
//   display: flex;
//   flex-direction: column;
// }

.radio-label {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
}

.radio-label input[type="radio"] {
  display: none;
}

.radio-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #C8C8C8;
  position: relative;
  margin-right: 10px;
}

.radio-custom::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #FF6B82;
  background-color: #FF6B82; /* Change color as needed */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Initially hidden */
  transition: transform 0.2s ease-in-out;
}

.radio-label input[type="radio"]:checked + .radio-custom::after {
  transform: translate(-50%, -50%) scale(1); /* Visible when checked */
}


.box h2 {
  margin: 0;
}

.options {
  display: none;
}

.expanded {
  display: block;
  height: 174.11px;
}
